

.azeret-mono-uniquifier{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 90px 150px;
}
.secendary-bg{
  text-align: center;
}
.container{
  display: flex;
  gap: 20px;
}
.frame{
  display: flex;
}
/* shared style */
.btn-primary{
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 24px;
}
.btn-secendary{
  background-color: #000000;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.btn-secendary-on{
  font-size: 20px;
  font-weight: 500
}
.text-center{
  text-align: center;
}
.h6{
  font-size: 16px;
  font-weight: 800;
  color: #0D1321;
}
/* NAV STYLES */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 175px;
}
.nav-title{
  font-weight: 900;
  font-size: 28px;
  color: #0D1321;
}

/* banner styles */
.banner{
  text-align: center;
  align-items: center;
  background-image: url(../assets/Hero-bg.png);
  justify-content: center;
}
.banner-greetings{
  font-size: 48px;
  font-weight: 900;
  color: #0D1321;
}
.banner-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}

/* about styles */
.section-title{
  font-size: 32px;
  font-weight: 900;
  color: #0D1321;
}
.section-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}
.about-title{
  font-size: 24px;
  font-weight: bold;
  color: #0D1321;
}
.about-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}
/* video styles */
.video{
  text-align: center;
}
.video-title{
  font-size: 32px;
  font-weight: 900;
  color: #0D1321;
  padding-bottom: 10px;
}
.video-des{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}

/* skill styles */
.skill-title{
  font-size: 32px;
  font-weight: 900;
  color: #0D1321;
}
.skill-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}
.skills-container{
  display: flex;
  gap: 24px;
}
.one{
  background-color: #FF4C1E;
  padding: 40px;
}
.two{
  background-color: #004CE8;
  padding: 40px;
}
.three{
  background-color: #FFDF00;
  padding: 40px;
}
.skills{
  width: 1140;
  height: 460;
  gap: 48px;
}