

.azeret-mono-uniquifier{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* shared style */
.btn-primary{
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 24px;
}
.btn-secendary{
  background-color: #000000;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
/* NAV STYLES */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 175px;
}
.nav-title{
  font-weight: 900;
  font-size: 28px;
  color: #0D1321;
}

/* banner styles */
.banner{
  text-align: center;
  align-items: center;
  background-image: url(../assets/Hero-bg.png);
  justify-content: center;
}
.banner-greetings{
  font-size: 48px;
  font-weight: 900;
  color: #0D1321;
}
.banner-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}

/* about styles */
.section-title{
  font-size: 32px;
  font-weight: 900;
  color: #0D1321;
}
.section-description{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321;
}